titulos, .uno, .extends, .dos {
  font-size: 36px;
  background-color: aqua;
  padding-top: 20px;
  text-align: center; }

.extends {
  font-style: italic; }

titulos, .uno, .extends, .dos {
  font-size: 36px;
  background-color: aqua;
  padding-top: 20px;
  text-align: center; }

.extends {
  font-style: italic; }

.dos {
  background-color: #63b17d; }

body {
  background-color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
