body{
    background-color: rgb(110, 185, 250);font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 16px;
}

.titulo{
    color: brown;
}

#tabla{
    border: 2px black;
}

tr{
    border: 5px black;
}